@import './base.css';

#app {
  margin: auto;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
.green {
  text-decoration: none;
  color: rgb(22, 128, 22);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    
    display: flex;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    background-color: pink;
  }

  #app {

    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
